[Unit]
Description=Bluetooth Auto-Connect Service
After=bluetooth.service

[Service]
ExecStart=/home/pi/btproxy/btconnect.sh

[Install]
WantedBy=multi-user.target