[Unit]
Description=Bluetooth Auto-Connect Service
After=bluetooth.service

[Service]
ExecStart=/usr/bin/btconnect.sh

[Install]
WantedBy=multi-user.target